<div class="p-4 flex flex-col justify-center items-center gap-8">
    <h2 class="text-center text-4xl">All Appointments</h2>
    <div *ngIf="!appointments" class="flex justify-center">
        <div
            class="border-gray-50 h-10 w-10 animate-spin rounded-full border-4 border-t-blue-600"
        ></div>
    </div>
    <table
        *ngIf="appointments"
        class="table-auto w-9/12 text-sm text-left rtl:text-right text-gray-500"
    >
        <thead
            class="text-sm bg-gray-50 uppercase border-b text-gray-700 rounded-md"
        >
            <tr>
                <th class="py-6 px-3">Doctor</th>
                <th class="py-6 px-3">Date</th>
                <th class="py-6 px-3">Treatment</th>
                <th class="py-6 px-3">Phone no.</th>
                <th class="py-6 px-3">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr
                class="odd:bg-white even:bg-gray-50 border-b text-gray-900 font-medium whitespace-nowrap"
                *ngFor="let appointment of appointments"
            >
                <th class="py-6 px-3">{{ appointment.doctor }}</th>
                <th class="py-6 px-3">
                    {{ appointment.date | date : "short" }}
                </th>
                <th class="py-6 px-3">{{ appointment.treatment }}</th>
                <th class="py-6 px-3">{{ appointment.phone }}</th>
                <th class="py-6 px-3">
                    <span class="material-symbols-rounded"> cancel </span>
                </th>
            </tr>
        </tbody>
    </table>
</div>
