<aside class="min-h-screen bg-slate-50 pt-3">
    <div class="flex flex-col">
        <div class="text-center pt-5">
            <h2 class="text-2xl font-semibold hover:cursor-pointer">
                Appointments
            </h2>
        </div>

        <div class="mt-10">
            <hr />
        </div>

        <div class="mt-10 flex flex-col gap-8">
            <div>
                <p
                    class="flex w-full gap-2 hover:bg-white hover:cursor-pointer hover:rounded-md p-2"
                    routerLink="dashboard"
                >
                    <span class="material-symbols-rounded"> grid_view </span>
                    Dashboard
                </p>
            </div>
            <div>
                <p
                    class="flex w-full gap-2 hover:bg-white hover:cursor-pointer hover:rounded-md p-2"
                    routerLink="all-appointments"
                >
                    <span class="material-symbols-rounded"> patient_list </span>
                    All Appointments
                </p>
            </div>
            <div>
                <p
                    class="flex w-full gap-2 hover:bg-white hover:cursor-pointer hover:rounded-md p-2"
                    routerLink="new-appointment"
                >
                    <span class="material-symbols-rounded"> note_add </span> New
                    Appointment
                </p>
            </div>
            <div>
                <p
                    class="flex w-full gap-2 hover:bg-white hover:cursor-pointer hover:rounded-md p-2"
                    routerLink="doctors"
                >
                    <span class="material-symbols-rounded"> stethoscope </span>
                    Doctors
                </p>
            </div>
            <div>
                <p
                    class="flex w-full gap-2 hover:bg-white hover:cursor-pointer hover:rounded-md p-2"
                    routerLink="reports"
                >
                    <span class="material-symbols-rounded"> description </span>
                    Reports
                </p>
            </div>

            <div>
                <button
                    class="flex w-full gap-2 hover:bg-white hover:cursor-pointer hover:rounded-md p-2"
                >
                    <span class="material-symbols-rounded"> logout </span> Log
                    Out
                </button>
            </div>
        </div>
    </div>
</aside>
